body {
    background-color: #f9f7f7;
}

.navbar-brand {
    background-color:#dbe2ef;
    margin-left: 100%;
    font-size: 20px;
}


.summary {
    padding-left:3%;
    padding-top: 3%;
    font-size: 30px;
    color: #3f72af;
    font-family:"Impact, Charcoal, sans-serif";
}

.pic1 {
    float:left;
    padding: 5%;
}

.p1 {
    padding: 4%;
}

.visualizations {
    font-size:25px;
    padding-top:3%;
    padding-left:3%;
    color: #3f72af;
    font-family:"Impact, Charcoal, sans-serif";
}

#right img {
    padding-bottom:10%;
}

@media(min-width: 480px){
    #nav1 {
        display: none;
    }
}

@media(max-width: 480px){
    #nav2 {
        display: none;
    }
}

